.App {
  text-align: center;
  margin: auto;
  width: 20%;
}
.paragraph {
  background-color: lightblue;
  display: flex;
  padding: 20px;
  justify-content: center;
}
.margin-right {
  margin-right: 8px;
}
