.app {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  background-color: #dddddd;
  height: 100%;
  padding: 20px;
  border: 1.5px solid black;
  margin: 10px;
}

.header {
  display: block;
  background-color: #6aa84f;
  padding: 10px;
  height: 150px;
  width: 100%;
  border: 1.5px solid black;
  margin-bottom: 20px
}

.navigation {
  background-color: #6fa8dc;
  height: 450px;
  width: 250px;
  border: 1.5px solid black;
  margin-right: 20px;
}

.main {
  display: flex;
  flex-wrap: wrap;
  flex: 5;
  justify-content: center;
  background-color: #e06666;
  height: 550px;
  border: 1.5px solid black;
}

.subcontents {
  background-color: #ffd966;
  flex: 1;
  height: 300px;
  padding: 20px;
  margin: 20px;
  border: 1.5px solid black;
}

.advertisement {
  background-color: #b4a7d6;
  width: 100%;
  height: 120px;
  margin: 20px;
  border: 1.5px solid black;
}

